<!doctype html>
<html langy"en-US">
  <head>
    <style>
body {
  position: relative;
  margin: 0 auto;
  width: 32em;
}
h3, h4 {
  text-align: center;
}
    </style>
    <meta charset="UTF-8" />
    <title>Add Search Firefox</title>
    $links
  </head>
  <body>
    <h3>Welcome to Add Search Firefox!</h3>
    <h4>How To</h4>
    <ol>
      <li>Edit `searches.toml`</li>
      <li>Execute `python3 main.py`</li>
      <li>Open displayed URL (We are here!)</li>
      <li>Click URL bar or search box</li>
      <li>Type some text</li>
      <li>Click a search engine icon with green plus tips</li>
      <li>Done!</li>
      <li>Optionally, add search keywords in Firefox's preferences</li>
    </ol>
  </body>
</html>
